[data-theme="peachy"] {
  --theme: peachy;
  --theme-background: #fff6f0;
  --theme-secondary: #e9b9ba;
  --theme-tertiary: #caf0c3;
  --theme-quaternary: #fbf5ee;
  --theme-highlight: #ff8ba7;
  --theme-stroke: #4e3d4e;
  --theme-blank: #fcfcfc;
}

[data-theme="deuteranomaly"] {
  --theme: deuteranomaly;
  --theme-background: #f6f0ec;
  --theme-secondary: #ffc4a8;
  --theme-tertiary: #f7b84a;
  --theme-quaternary: #ffedd5;
  --theme-highlight: #24a8a0;
  --theme-stroke: #00332c;
  --theme-blank: #F7F5F2;
}

[data-theme="seasalt"] {
  --theme: seasalt;
  --theme-background: #e4efee;
  --theme-secondary: #a1c9c9;
  --theme-tertiary: #bae8e8;
  --theme-quaternary: #ffedd5;
  --theme-highlight: #dca342;
  --theme-stroke: #272343;
  --theme-blank: #fffffe;
}
