.notion-collection-card.gallery {
  transition: all 0.2s ease-in-out !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  box-shadow: none !important;
  min-height: 240px;
}

.notion-collection-card.gallery:before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%) !important;
  pointer-events: none !important;
  position: absolute !important;
  content: "" !important;
  z-index: 1 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

.notion-collection-card:hover {
  transform: scale(1.03) !important;
}

.notion-collection-card:active {
  transform: scale(1.03) !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover > div,
.notion-collection-card__cover img {
  max-height: none !important;
  min-height: none !important;
  height: 100% !important;
  border: none !important;
}

.notion-collection-card.gallery .notion-property__title {
  position: absolute !important;
  padding: 24px 30px !important;
  max-width: 400px !important;
  font-size: 20px !important;
  color: #fff !important;
  z-index: 2 !important;
  bottom: 0 !important;
  left: 0 !important;
}

.notion-collection-card.gallery .notion-property__title .notion-semantic-string {
  font-weight: 400 !important;
  gap: 5px;
}

.notion-collection-card.gallery .notion-property__title .notion-semantic-string > span {
  white-space: break-spaces;
}

.notion-collection-card.gallery .notion-collection-card__content {
  backdrop-filter: blur(8px) !important;
  background: rgba(0, 0, 0, 0.12) !important;
  justify-content: center !important;
  position: absolute !important;
  padding: 2px 8px !important;
  font-size: 14px !important;
  display: flex !important;
  color: #fff !important;
  z-index: 2 !important;
  top: 24px !important;
  right: 24px;
  gap: 8px;
  border-radius: 10px;
}

.notion-semantic-string .date {
  color: inherit !important;
}

.notion-collection-card__content .notion-property__select .notion-pill {
  max-width: 100% !important;
}

.notion-property__title .notion-property__title__icon-wrapper {
  top: 5px !important;
}

.notion-property__title .notion-property__title__icon-wrapper > span {
  width: 1em !important;
  height: 1em !important;
}

.notion-collection-card .notion-property__title .notion-icon {
  font-size: 1em !important;
}

.notion-header__icon-wrapper {
  right: 0 !important;
  left: 0 !important;
  margin: auto !important;
}

.notion-header__content .notion-header__title-wrapper {
  text-align: center;
}
